@media (min-width: 1025px) {
    .section-about {
        .section-about-header {
            width: 1200px;
            margin: auto;
            padding: 60px 0;
            font-size: 34px;
            font-weight: 600;
        }

        .section-about-content {
            display: flex;
            width: 1200px;
            margin: auto;
            height: 480px;
            gap: 100px;

            .content-left {
                width: 50%;

                .video-wrapper {
                    position: relative;
                    padding-bottom: 56.25%;
                    /* Tỷ lệ 16:9 (9 / 16 * 100) */
                    height: 0;
                    overflow: hidden;
                }

                .video-wrapper iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                }
            }

            .content-right {
                width: 50%;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    opacity: 0.8;
                }

            }
        }

    }
}

@media (max-width: 740px) {
    .section-about {

        .section-about-header {
            padding: 30px 30px;
            font-size: 32px;
            font-weight: 600;
        }

        .section-about-content {

            .content-left {
                width: 100%;

                .video-wrapper {
                    position: relative;
                    padding-bottom: 56.25%;
                    /* 16:9 (9 / 16 * 100) */
                    height: 0;
                    overflow: hidden;
                }

                .video-wrapper iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                }

            }

            .content-right {

                p {
                    margin: 30px 30px;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    opacity: 0.8;
                }
            }
        }
    }
}