.bee-btn {
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 14px 24px;
    background-color: #f7d800;
    border: none;
    border-radius: 10px;
}

.bee-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}